# Ex2 - Getting and Knowing your Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [2]:
import numpy as np 
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import urllib

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

### Step 3. Assign it to a variable called chipo.

In [3]:
path ='file.csv'

In [4]:
!ls {path}

file.csv

In [5]:
chipo = pd.read_table(path)

In [6]:
chipo.columns = chipo.columns.str.strip()

### Step 4. See the first 10 entries

In [7]:
chipo.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NULL,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NULL,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NULL,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

### Step 5. What is the number of observations in the dataset?

In [8]:
# Solution 1
len(chipo)

4622

In [9]:
# Solution 2
chipo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  4622 non-null   object
 4   item_price          4621 non-null   object
dtypes: int64(2), object(3)
memory usage: 180.7+ KB

### Step 6. What is the number of columns in the dataset?

In [10]:
len(chipo.columns)

5

### Step 7. Print the name of all the columns.

In [11]:
chipo.columns

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

### Step 8. How is the dataset indexed?

In [12]:
chipo.index

RangeIndex(start=0, stop=4622, step=1)

### Step 9. Which was the most-ordered item?

In [13]:
chipo['item_name'].value_counts()

Chicken Bowl                              726
Chicken Burrito                           553
Chips and Guacamole                       479
Steak Burrito                             368
Canned Soft Drink                         301
Chips                                     211
Steak Bowl                                211
Bottled Water                             162
Chicken Soft Tacos                        115
Chips and Fresh Tomato Salsa              110
Chicken Salad Bowl                        110
Canned Soda                               104
Side of Chips                             101
Veggie Burrito                             95
Barbacoa Burrito                           91
Veggie Bowl                                85
Carnitas Bowl                              68
Barbacoa Bowl                              66
Carnitas Burrito                           59
Steak Soft Tacos                           55
6 Pack Soft Drink                          54
Chips and Tomatillo Red Chili Salsa        48
Chicken Crispy Tacos                       47
Chips and Tomatillo Green Chili Salsa      43
Carnitas Soft Tacos                        40
Steak Crispy Tacos                         35
Chips and Tomatillo-Green Chili Salsa      31
Steak Salad Bowl                           29
Nantucket Nectar                           27
Barbacoa Soft Tacos                        25
Chips and Roasted Chili Corn Salsa         22
Chips and Tomatillo-Red Chili Salsa        20
Izze                                       20
Chips and Roasted Chili-Corn Salsa         18
Veggie Salad Bowl                          18
Barbacoa Crispy Tacos                      11
Barbacoa Salad Bowl                        10
Chicken Salad                               9
Veggie Soft Tacos                           7
Carnitas Crispy Tacos                       7
Carnitas Salad Bowl                         6
Burrito                                     6
Veggie Salad                                6
Steak Salad                                 4
Bowl                                        2
Salad                                       2
Crispy Tacos                                2
Chips and Mild Fresh Tomato Salsa           1
Veggie Crispy Tacos                         1
Carnitas Salad                              1
Name: item_name, dtype: int64

### Step 10. For the most-ordered item, how many items were ordered?

In [14]:
chipo['item_name'].value_counts().max()

726

### Step 11. What was the most ordered item in the choice_description column?

In [15]:
chipo['choice_description'].value_counts()

NULL                                                                                                    1246
[Diet Coke]                                                                                              134
[Coke]                                                                                                   123
[Sprite]                                                                                                  77
[Fresh Tomato Salsa, [Rice, Black Beans, Cheese, Sour Cream, Lettuce]]                                    42
                                                                                                        ...
[[Fresh Tomato Salsa (Mild), Roasted Chili Corn Salsa (Medium)], [Cheese, Sour Cream, Lettuce]]            1
[Tomatillo-Red Chili Salsa (Hot), [Lettuce, Sour Cream, Cheese, Fajita Veggies, Rice, Black Beans]]        1
[Tomatillo Green Chili Salsa, [Fajita Vegetables, Rice, Lettuce]]                                          1
[Roasted Chili Corn Salsa, [Rice, Cheese, Sour Cream]]                                                     1
[Adobo-Marinated and Grilled Steak]                                                                        1
Name: choice_description, Length: 1045, dtype: int64

### Step 12. How many items were orderd in total?

In [16]:
chipo['quantity'].sum()

4972

### Step 13. Turn the item price into a float

#### Step 13.a. Check the item price type

In [17]:
chipo['item_price'].dtype

dtype('O')

#### Step 13.b. Create a lambda function and change the type of item price

In [18]:
chipo['item_price'] = chipo['item_price'].str.replace('$', '')
chipo['item_price'] = chipo['item_price'].astype(np.float)

#### Step 13.c. Check the item price type

In [19]:
chipo['item_price'].dtype

dtype('float64')

### Step 14. How much was the revenue for the period in the dataset?

In [20]:
chipo['item_price'].sum()

34491.41

### Step 15. How many orders were made in the period?

In [21]:
chipo['order_id'].sum()

4285772

### Step 16. What is the average revenue amount per order?

In [22]:
# Solution 1
chipo.groupby('item_price')['order_id'].sum().mean()

54922.282051282054

In [23]:
#Solution 2

### Step 17. How many different items are sold?

In [24]:
len(chipo['item_name'].unique())

50